<header>
  <h1>Meaning & Modality Linguistics Laboratory</h1>
  <h1>Director Kathryn Davidson</h1>
    <nav>
    <ul>
      <li><a href="?page=home">Home</a></li>
      <li><a href="?page=people">People</a></li>
      <li><a href="?page=research">Research</a></li>
      <li><a href="?page=publications">Publications</a></li>
      <!--add new page here with this format:
      <li><a href="#" onclick="loadPage('pagename.html')"Pagename</a></li>
      just change pagename :)-->
    </ul>
  </nav>
</header>