<!-- This file is meant to be loaded into index.html -->
<!-- This is the default page.-->
<!-- <div class = "centered-image">
    <img src="images/mms.jpg" alt="a bowl of red and white M&Ms with the text Harvard Ling Lab, and Meaning & Modality" style=width:300px;height:auto;">
</div> -->
<figure>
    <div class = "centered-image">
    <img src="images/labmtg2024oct.jpg" alt="a group photo of the 17 members of the Meaning and Modality lab from 2024 standing in the lab common space standing in 2 rows in front of a blue background." style=width:500px;height:auto;">
    </div>
    <figcaption>(Lab meeting, October 2024)</figcaption>
</figure>

<h2>Welcome to the Lab!</h2>
<body>Welcome to the <b>Meaning and Modality (M&M) Laboratory</b> at Harvard Linguistics! We are interested in understanding the incredible human capacity for language, especially the ability to convey abstract, infinite, specific meanings across the multiple modalities for natural language, including both speech and sign. Our work spans the subfields of formal semantics, pragmatics, syntax, language acquisition, logic and psycholinguistics in an effort to understand the relationship between linguistic meaning, language mode, language development, and human cognition, with special focus on cross-linguistic experimental semantic studies.</body>



    <h2>Recent News</h2>
    <div id="news-list">
        <!--News will be inserted here-->
    </div>
    
    